* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-size: 24px;
    font-weight: 400;
    padding: 24px;
    justify-content: center;
    background-color: var(--corRoxoBackGround);
    font-family: 'Inter', sans-serif;
}

:root {
    --corRosaClaro: #D077AB;
    --corTextoBranco: #FCFCF4;
    --corRoxoFundoInfo: #302A4E;
    --corRoxoBackGround: #1A1535;
    --corRosaResultados: #FF8DD0;
}

.calculadoraImc {
    display: flex;
    color: #FCFCF4;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.calculadoraImcTitulo {
    width: 750px;
    color: var(--corRosaClaro)
}

.calculadoraImcInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--corRoxoFundoInfo);
    width: 750px;
    padding: 25px;
    border-radius: 12px;
}

.calculadoraImcInfoNome {
    display: flex;
    flex-direction: column;
    width: 600px;
    text-align: start;
    padding: 25px;
}

.calculadoraImcInfoDados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    gap: 20px;
    padding: 25px;
    width: 600px;
}

.calculadoraImcInfoInputAltura,.calculadoraImcInfoInputNome,
.calculadoraImcInfoInputPeso {
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;

}

.calculadoraImcInfoInputIdade,.calculadoraImcInfoInputSexo {
    width: 265px;
    height: 35px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 12px;
}

.calculadoraImcInfoBotao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    width: 600px;
    gap: 25px;
}

.calculadoraImcInfoBotaoCalcular {
    padding: 25px;
    border-radius: 12px;
    background-color: var(--corRosaClaro);
    font-size: 32px;
    color: var(--corTextoBranco);
}

.calculadoraImcInfoBotaoLimparDados {
    padding: 25px;
    border-radius: 12px;
    background-color: var(--corRoxoFundoInfo);
    color: var(--corTextoBranco);
    border-color: var(--corRosaClaro);
    font-size: 26px;
    border-width: 3px;
}

.resultados {
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    gap: 15px;
    width: 750px;
    height: 450px;
    font-size: 42px;
    font-weight: bold;
    border-radius: 24px;
    background-color: var(--corRosaResultados);
}

.resultadosNome {
    color: var(--corRoxoFundoInfo);
}

.resultadosNomeIdade,
.resultadosAlturaPeso {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.resultadosSexo {
    font-size: 24px;
}
